  p, h1, h2, h4 {
    color: whitesmoke;
  }
  h4 {
    background-color: rgb(0, 156, 104);
    padding: 0.2rem;
    font-size: small;
    border: 1px solid whitesmoke;
  }
  .popup, .modalText, #modalTitle, #modalBody > .row > div > p {
    color: black;
  }
  #modalBody {
    padding: 2rem;
  }
  img {
    max-width: 100% !important;
  }

  .navbar-dark, button, .btn, .btn-primary {
    background-color: rgb(0, 156, 104);
    color: #f9f9f9;
  }
  .modal-header {
    border-bottom: 1px solid rgb(0, 156, 104);
  }



  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
    max-width: 100%;
  }
  #bodyText {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.80),rgba(0, 0, 0, 0.87),rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.91),rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.82), rgba(0, 0, 0, 0.693));
    padding-left: 6rem;
    padding-right: 3rem;
    box-shadow: 0px 0px 30px rgb(0, 156, 104);
    min-height: 100vh;
    max-height: none;
  }
  #farZ{
    z-index: -3;
  }
  .container-fluid {
    padding-top: 3rem;
  }

  #map {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }

  #moveBtn {
    position: fixed;
    right: 0;
    left: auto;
    margin-right: 10%;
    z-index: 2;
  }

  #introWonder {
    margin-top: 10%;
    margin-bottom: 60%;
  }
  .mapboxgl-popup-content > div, .wonder {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .wonder {
    margin-bottom: 50%;
  }
  .wonder > h2 {
    padding-top: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .wonder > p {
    font-size: 20pt;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }


  .starter-template {
    text-align: left;
  }

  @media (min-width: 576px) {
    .modal-dialog {
      max-width: 99%;
      margin: 1.75rem auto;
      height: 99%;
      max-height: 99%;
  }
  }

  #button-container {
    z-index: 1;
    position: fixed;
    top: 0;
    margin-top: 4rem;
  }

  #fullscreenText{
    margin-right: 2rem;
  }

  #popupContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #popupContent h3 {
    text-align: center;
  }

 

  .custom-marker {
    background-size: cover;
    background-image: url('../img/factoryArt.png');
    height: 40px;
    width: 40px;
    animation: pulse 5s infinite ease-in-out;
    /* Add any additional styles for your custom marker */
  }

  @keyframes pulse {
    0% {
      box-shadow: 0px 0px 20px rgb(0, 212, 141);    
    }
    50% {
      box-shadow: 0px 0px 40px rgb(0, 212, 141);    
    }
    100% {
      box-shadow: 0px 0px 20px rgb(0, 212, 141);    
    }
  }

  .popup {
    /* display: none; */
    position: absolute;
    top: 200px;
    bottom: auto;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 9999;
  }

  .mapboxgl-popup-anchor-bottom, .mapboxgl-popup-anchor-bottom-left, .mapboxgl-popup-anchor-bottom-right {
    padding-bottom: 15px;
}


  /* Media query for mobile devices */
@media (max-width: 767px) {
  #bodyText {
    min-height: 50vh;
    max-height: 50vh;
    overflow: scroll;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4rem;
  }

  #fullscreenMap {
    position: fixed;
    bottom: 5% !important;
  }

  #button-container {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 1rem;
    margin-top: 3.5rem;
    background-color: yellow;
}




}




  



